.offerHeader{
    font-family: ByHand;
    font-size: xxx-large;
}

.price{
    font-size: calc(0.5em + 0.7vw);
    margin: 1vw;
}

.offer-img{
    object-fit: cover;
}

.offerDesc{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: calc(0.5rem + 1vw);
}

.book-btn{
    background-color: #ebebeb63;
    padding: 15px 32px 15px 32px;
    font-size: calc(0.5em + 1vw);
    cursor: pointer;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-top: 0.8rem;
}

@media screen and (max-width: 768px) {
    .offer-img{
        width: 100% !important;
        height: 40vw;
    }

    .offerHeader{
        margin-bottom: 0.8rem;
        font-size: calc(1rem + 1vw);
    }

    .book-btn{
        padding: 15px 18px 15px 18px;
        height: 8vw;
    }

    .price{
        margin: 7vw 0vw 7vw 0vw;
    }
}
