.offerHeader{
    font-family: ByHand;
    font-size: xxx-large;
}

@media screen and (max-width: 768px) {
    .offerHeader{
        margin-bottom: 0.8rem;
        font-size: calc(1rem + 1vw);
    }
}

.offerDesc{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: calc(0.5rem + 1vw);
}

.book-btn{
    background-color: #ebebeb63;
    padding: 15px 32px 15px 32px;
    font-size: calc(0.5em + 1vw);
    cursor: pointer;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8%;
    margin-top: 0.8rem;
}
