.contact-container{
    display: flex;
    flex-direction: column;
}

.image{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: 0 58%;
}

.map-container{
    margin-bottom: 2vw;
}

@media screen and (max-width: 768px) {
    .image{
        height: 27vh;
    }
}