.contact-container{
    display: flex;
    flex-direction: column;
}

.image{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: 0 58%;
}

.map-container{
    margin-bottom: 2vw;
}

.facebook-icon{
    color: blue;
    cursor: pointer;
    margin-top: 1.25rem
}

@media screen and (max-width: 768px) {
    .image{
        height: 27vh;
    }

    .facebook-icon{
        height: 1.9rem;
    }
}