.about{
    display: flex;
    flex-direction: row;
}

.presentation-header{
    font-size: 3rem;
}

.pitch{
    font-style: italic;
    margin: 2rem;
}

.handpan-img {
    width: 50%;
    height: auto;
    background-image: url('../../public/img/handpan.jpeg');
    background-size: cover;
}

.presentation{
    
}

@media screen and (max-width: 768px) {
    .presentation-header{
        font-size: 1rem;
        font-weight: bold;
    }

    .pitch{
        margin: 0rem;
        margin-bottom: 0.8rem;
        margin-top: 0.8rem;
    }
    
    .presentation{
        
    }

    .container.about {
        display: flex;
        flex-direction: column;
    }

    .container-item {

    }

    .handpan-img {
        width: 100%;
        min-height: 200px;
        background-image: url('../../public/img/handpan-wide.jpeg');
        background-size: cover;
    }

}
